@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.counter_title {
  font-size: 40px;
  font-weight: bolder;
  color: white;
}

.counter_num {
  font-size: 30px;
  font-weight: bolder;
  color: white;
}

.counter_btn_div {
  margin-top: 20px;
  margin-bottom: 25px;
  width: 105px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter_btn {
  width: 25px;
  height: 25px;
  font-weight: bolder;
  background-color: #282c34;
  cursor: pointer;
  border: none;
  font-size: 25px;
}

.counter_on_off {
  border-radius: 5px;
  width: 80px;
  height: 35px;
  font-weight: bolder;
  background-color: darkorange;
  color: white;
}
